<div class="join-job-cont">
    <details class="join-job-cont-item">
        <summary class="join-job-cont-item-p">
            <span>
                <b><i class="iconfont rotate">&#xe603;</i>{{.Title}}<span
                        class="gozi">{{ .Params.wages }}</span></b>
                <b>{{.Type}}<i class="join-job-line"></i>{{ .Params.education}}</b>
            </span>
            <span>{{ .Params.leader }}<b class="join-job-line"></b>{{ .Params.position}}</span></summary>
        <dl>
            <dt>岗位职责：</dt>
            {{ range $index :=.Params.desc}}
            <dd>{{$index}}</dd>
            {{end}}
            <dt>任职资格：</dt>
            {{ range $index:=.Params.resdesc}}
            <dd>{{$index}}</dd>
            {{end}}
        </dl>
    </details>
</div>