{{ define "main" }}
<div class="news-banner">
    <img class="news-banner-img" src="/images/news_banner.jpg" alt="">
    <div class="news-banner-desc">
        <h2>- 新闻资讯 -</h2>
        <p>NEWS</p>
    </div>
</div>
<div class="news-mode">
    <ul class="news-content-nav">
        <li class="active"><a href="/news">公司新闻</a></li>
        <li><a href="/industry">行业资讯</a></li>
    </ul>
    <div class="new-content-box show">
        <div class="container">        
          {{ range .Paginator.Pages }}  
             <a class="new-content-box-item" href="{{.Permalink}}">
                <div class="new-content-box-item-img"><img src="{{.Params.image | absURL}}" alt=""></div>
                <div class="timer"><svg t="1622528845568" class="icon" viewBox="0 0 1024 1024" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" p-id="2492" width="32" height="32">
                        <path
                            d="M512 64C264.58 64 64 264.58 64 512s200.58 448 448 448 448-200.58 448-448S759.42 64 512 64z m0 816c-203.24 0-368-164.76-368-368s164.76-368 368-368 368 164.76 368 368-164.76 368-368 368z"
                            fill="#8a8a8a" p-id="2493"></path>
                        <path
                            d="M688 472H552V272a40 40 0 0 0-80 0v240a40 40 0 0 0 40 40h176a40 40 0 0 0 40-40 40 40 0 0 0-40-40z"
                            fill="#8a8a8a" p-id="2494"></path>
                    </svg>
                    <span>{{.Date.Format .Site.Params.dateFormat}}</span></div>
                <h3>{{.Title}}</h3>
                <p>{{.Description}}</p>
             </a>   
          {{end}}
          {{ partial "pagination" .}}
        </div>          
    </div>
</div>
{{ end }}