<footer>
    <div class="container">
        <div class="footer-nav">

            <dl>
                <dt>关于我们</dt>
                <dd><a href="/about?title=culture"><span>企业文化</span></a></dd>
                <dd><a href="/about?title=development"><span>成长历史</span></a></dd>
                <dd><a href="/about?title=background"><span>集团背景</span></a></dd>
            </dl>  
             <dl>
                <dt>公司产品</dt>
                <dd><a href="/product"><span>产品展示</span></a></dd>
            </dl>
            <dl>
                <dt>友情链接</dt>
                <dd><a href="https://gigalumi.heymenology.cn/" target="_blank"><span>吉家路米</span></a></dd>
            </dl>
            <dl>
                <dt class="lastdt">联系我们</dt>
                <dd><a href="/contact"><span>联系方式</span></a></dd>
            </dl> 
        </div>
        <p>© <script>document.write("2016-"+new Date().getFullYear());</script> {{ .Site.Copyright}}  版权所有  <a href="{{ .Site.Params.IcpURL }}" target="_blank">{{ .Site.Params.IcpID }}</a>  </p>
        
    </div>
</footer>

{{ $mainJs := resources.Get "js/default.js" | js.Build "default.js" | minify | fingerprint }}
<script src="{{ $mainJs.RelPermalink }}"></script>