{{ define "main" }}
{{ partial "jobs/jobnav.html" . }}

<div class="join-content-box show">
    <div class="container">
        <div class="join-job-info">
            {{- $.Scratch.Set "myLimit1" 0 }}
            {{- $.Scratch.Set "myLimit2" 0 }}
            {{- $.Scratch.Set "myLimit3" 0 }}
            {{- $.Scratch.Set "myLimit4" 0 }}
            {{- $.Scratch.Set "myLimit5" 0 }}
            {{ with  site.GetPage "/join"}}
            {{ range  .Pages }}
            {{ if eq .Params.jobtype 1 }}
            {{- $.Scratch.Set "myLimit1" (add ($.Scratch.Get "myLimit1") 1) }}
            {{ end }}
            {{ if eq .Params.jobtype 2 }}
            {{- $.Scratch.Set "myLimit2" (add ($.Scratch.Get "myLimit2") 1) }}
            {{ end }}
            {{ if eq .Params.jobtype 3 }}
            {{- $.Scratch.Set "myLimit3" (add ($.Scratch.Get "myLimit3") 1) }}
            {{ end }}
            {{ if eq .Params.jobtype 4 }}
            {{- $.Scratch.Set "myLimit4" (add ($.Scratch.Get "myLimit4") 1) }}
            {{ end }}
            {{ if eq .Params.jobtype 5 }}
            {{- $.Scratch.Set "myLimit5" (add ($.Scratch.Get "myLimit5") 1) }}
            {{ end }}
            {{ end }}
            <p>招聘岗位</p>
            <p><span>岗位类型:</span><span ><a href="/join">全部（{{len .Pages}}）</a></span><span><a
                        href="/jobyy">运营（{{ $.Scratch.Get "myLimit1" }}）</a></span><span><a
                        href="/jobcm">传媒（{{ $.Scratch.Get "myLimit2" }}）</a></span><span class="active"><a
                        href="/jobcg">采购/贸易（{{ $.Scratch.Get "myLimit3" }}）</a></span><span><a
                        href="/jobsc">生产制造（{{ $.Scratch.Get "myLimit4" }}）</a></span><span><a
                    href="/jobsj">设计（{{ $.Scratch.Get "myLimit5" }}）</a></span>
            </p>
            {{ end }}
        </div>
        {{ with  site.GetPage "/join"}}
        {{ range .Pages }}
        {{if eq .Params.jobtype 3}}
        {{ partial "jobs/tag.html" . }}
        {{ end }}
        {{ end }}
        <p class="join-email">简历投递邮箱：fiona@heymenology.com</p>
        {{ end }}

    </div>
</div>
{{ partial "jobs/school.html" . }}
{{ end }}