{{ define "main" }}
<div class="container">
    <div class="article-nav">
        <a href="/index.html">首页<b>/</b></a>
             <a href="/news">新闻资讯</a>
        <b>/</b>   
        {{.Title}}
    </div>
    <div class="article-content">
        <div class="article-tilte">
            <h2>{{.Title}}</h2>
            <div class="article-tilte-desc"><span class="date">发布时间：{{.Date.Format .Site.Params.dateFormat}}</span> <span class="author">作者：{{.Site.Params.author}}</span></div>
            <hr class="article-line">
        </div>
        <div class="article-content">
            {{.Content}}
        </div>   
        <hr class="article-line">    
        <div class="article-btn">
            {{ if .NextInSection }}
                    <a href="{{ .NextInSection.Permalink }}" class="befor">上一篇：{{.NextInSection.Title}}</a> 
            {{ end }} 
            {{if .PrevInSection}}       
                         <a href="{{ .PrevInSection.Permalink }}" class="next">下一篇：{{.PrevInSection.Title}}</a> 
            {{ end}} 
        </div>
    </div>


</div>



{{ end }}