{{ define "main" }}
<div class="about-banner">
    <img class="about-banner-img" src="/images/about_banner.jpg" alt="">
    <div class="about-banner-desc">
        <h2>- 关于黑米 -</h2>
        <p>About Heyme</p>
    </div>
</div>

<div class="about-content">
    <ul class="about-content-nav">
        <li class="active">企业文化</li>
        <li>成长历史</li>
        <li>集团背景</li>
    </ul>
    <div class="about-content-box show">
        <div class="container">
            <div class="heyme-culture">
                <h4>黑米文化</h4>
                <p>黑米的企业精神是成就品牌，追求卓越。以助力中国消费品牌走向世界为使命，
                    致力于成为一个卓越的品牌运营商。专注于消费品的跨境品牌推广运营、
                    产品研发、专利、海外资源整合，通过以品牌为核心的
                    备货出口模式取代传统的OEM订单模式，为宁波出口转型贡献力量。
                    我们的企业口号是开心工作，认真成长

                </p>
            </div>
            <div class="heyme-value">
                <h4>九牛二虎价值观</h4>
                <div class="heyme-value-content">
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe67d;</i>
                        </div>
                        <h4>诚信如一</h4>
                        <p>品行廉洁，言行诚信，
                            以身作则，表里如一</p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe604;</i>
                        </div>
                        <h4>学习分享</h4>
                        <p>有好的学习方法，不拘泥于内容本身，善于服务于本质的系统性学习，并形成自己的体系，并能从系统性角度向合适的对象输出。
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe644;</i>
                        </div>
                        <h4>充分沟通</h4>
                        <p>遵从当面原则就事论事原则和充分原则；沟通态度从容有度；善于疏导，沟通技巧高超令人信服。
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe615;</i>
                        </div>
                        <h4>方法论</h4>
                        <p>能理解方法论的底层逻辑，并习惯性用于指导工作，善于从各种工作场景中发现/洞察/定义问题，并提炼出工作方法用于指导实践。
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe649;</i>
                        </div>
                        <h4>协同性</h4>
                        <p>能顾全大局，和他人通力合作，积极达成目标；有较强统筹能力，主动组织协同事项；能主动组织和推进部门间协同事项。主动为提高整体协同效率提出解决方案，并推进落实；
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe60f;</i>
                        </div>
                        <h4>执行力</h4>
                        <p>能通过工作复盘不断迭代执行方案，有清晰的工作思路；快速整合多种资源，超出工作计划完成更多的工作目标；
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe949;</i>
                        </div>
                        <h4>主动承担</h4>
                        <p>对工作怀着强烈的热情，凡事积极主动。愿意多承担多付出，并积极影响他人！
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe613;</i>
                        </div>
                        <h4>勇于挑战</h4>
                        <p>敢于跳出舒服区，设定超越自己的目标面对挑战有不服输的精神勇于创新和接受新的事物面对挫折或失利能分析总结经验并重振旗鼓
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe6f1;</i>
                        </div>
                        <h4>合伙奋斗</h4>
                        <p>有管理者思维，从公司整体思考问题有工作能力和下属或其他其他同事认可的魅力高度认可公司价值观并践行能为公司发展献计献策有主人翁精神并主动维护公司利益和名誉；
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-content-box ">
        <div class="container">
            <div class="heyme-course">
                <h4>成长历史</h4>
                <div class="time-line">
                    <ul>
                        <li><span>2016</span><b></b></li>
                        <li><span>2018</span><b></b></li>
                        <li><span>2019</span><b></b></li>
                        <li><span>2020</span><b></b></li>
                        <li class="active"><span>2022</span><b></b></li>
                    </ul>
                </div>
                <!-- 2016 -->
                <div class="heyme-course-content history-content">
                    公司创建，始创7人。
                </div>
                <!-- 2018 -->
                <div class="heyme-course-content history-content">
                  产品多品类扩展，涉及太阳能、小家电、玩具和户外家具。
                </div>
                <!-- 2019 -->
                <div class="heyme-course-content history-content">
                    成立海外子公司。
                </div>
                <!-- 2020 -->
                <div class="heyme-course-content history-content">
                  涉足多平台，包含亚马逊、Wayfair、Lowe's、HomeDeport、Walmart......
                </div>
                <!-- 2022 -->
                <div class="heyme-course-content  history-content show">
                   目标：年产值2亿，成员数达200，成立研发部门，搭建跨境生态。
            </div>

            </div>
        </div>
    </div>

    <div class="about-content-box">
        <div class="container">
            <div class="heyme-bg">
                <h4>集团背景</h4>
                <p>宁波黑米信息科技有限公司隶属于锦灏集团（宁波排列前茅的大型出口企业），
                    宁波锦灏集团成立于2003年,注册资金1亿元,配有20000平方办公场地,6000平方的专业化产品成列中心.
                    下属8家子公司,在美国\英国分别设有分支机构.以日用百货出口业务为核心,积极拓展关联领域,
                    优化产品结构,提升服务能力,已发展为集”自营出口、外贸孵化、生产制造、跨境电商、
                    供应链管理”等为一体的多元化产业集群。
                </p>
                <p>
                    锦灏以“大道当然、合伙奋斗”为核心价值观，始终秉持“追求卓越、劣后担当、阳光健康”
                    的精神，高度重视人才的发掘、引进、培养，形成了一整套有锦灏特色的员工培养晋升体系，鼓励阳光健康的文化，
                    锻造健康可持续的体魄身心，始终坚持行业领先的专业能力、客户口碑创新效率、业绩水平，
                    追求数一数二的市场地位与竞争实力。</p>
                <img src="/images/heyme-bg.jpg" alt="">
            </div>
        </div>
    </div>
</div>
{{ end }}