<div class="banner">
    <img class="banner-img-mobile" src="/images/index_banner.jpg" alt="">
    <img class="banner-img-pc" src="/images/index_banner_pc.jpg" alt="">
    <div class="banner-desc">
        <h2>助力中国消费品牌走向世界</h2>
        <p>Committed to becoming an outstanding brand operator</p>
    </div>
</div>

<div class="company-profile">
    <div class="container">
        <div class="company-profile-desc">
            <img src="/images/index_img1.jpg" alt="">
            <div class="company-profile-desc-cmp">
                <h2>企业简介</h2>
                <p>宁波黑米信息科技有限公司隶属于锦灏集团（宁波
                    排列前茅的大型出口企业），是一个成立7年多的
                    专业跨境电商运营公司，办公面积2000平米。黑米
                    以助力中国消费品牌走向世界为使命，致力于成为
                    一个卓越的品牌运营商。
                </p>
            </div>
        </div>
        <ul class="company-profile-fun">
            <li>
                <div class="company-profile-fun-icon">
                    <i class="iconfont">&#xe606;</i>
                </div>
                <p>推广运营</p>
            </li>
            <li>
                <div class="company-profile-fun-icon">
                    <i class="iconfont">&#xe667;</i>
                </div>
                <p>产品研发</p>
            </li>
            <li>
                <div class="company-profile-fun-icon">
                    <i class="iconfont yellow">&#xe627;</i>
                </div>
                <p>专利</p>
            </li>
            <li>
                <div class="company-profile-fun-icon">
                    <i class="iconfont ">&#xe662;</i>
                </div>
                <p>海外资源整合</p>
            </li>
        </ul>
    </div>

</div>

<div>
  <ul class="index_content-nav">
    <li class="active">成长历史</li>
    <li>业绩表现</li>
</ul>
<div class="index_content-box show">
  <div class="container">
    <div class="center">
      <img src="/images/chengzhang.jpg" alt="" class="index-img">
    </div>
  </div>
</div>
<div class="index_content-box ">
  <div class="container">
    <div class="center">
      <img src="/images/yeji.jpg" alt="" class="index-img">
    </div>
  </div>
</div>

</div>

<div class="company-rele">
    <div class="container">
        <h2>企业相关</h2>
        <div class="company-rele-content">
            <a class="company-rele-content-item " href="/about">
                <img src="/images/index_img3.jpg" alt="">
                <p>集团背景</p>
            </a>
            <a class="company-rele-content-item" href="/about">
                <img src="/images/index_img4.jpg" alt="">
                <p>企业文化</p>
            </a>
            <a class="company-rele-content-item" href="/join">
                <img src="/images/index_img5.jpg" alt="">
                <p>院校合作</p>
            </a>
            <a class="company-rele-content-item" href="/join">
                <img src="/images/index_img6.jpg" alt="">
                <p>招聘信息</p>
            </a>
        </div>
    </div>

</div>