{{ define "main" }}
<div class="contact-banner">
    <img class="contact-banner-img" src="/images/contact_banner.jpg" alt="">
    <div class="contact-banner-desc">
        <h2>Contact Us</h2>
        <p>
            We're here to assist you in any way we can. If you have questions, inquiries, or need more information about our products and services, please don't hesitate to get in touch with us. Your feedback and communication are important to us, and we're committed to providing you with the best possible support.
        </p>
    </div>
</div>
<div class="contact-mode">
    <div class="container">
        <h4>Contact Information</h4>
        <ul>
            <a href="tel:18215551611">
                <div class="contact-mode-icon">
                    <i class="iconfont">&#xe60a;</i>
                </div>
                <p class="contact-mode-title">TEL</p>
                <p class="contact-mode-cont">+43 6245 7340 0 – 0</p>
            </a>
            <a href="mailto:fiona@heymenology.com">
                <div class="contact-mode-icon">
                    <i class="iconfont">&#xe605;</i>
                </div>
                <p class="contact-mode-title">E-mail</p>
                <p class="contact-mode-cont">info@winpex-europe.com</p>
            </a>
            <a>
                <div class="contact-mode-icon">
                    <i class="iconfont">&#xe64e;</i>
                </div>
                <p class="contact-mode-title">Address</p>
                <p class="contact-mode-cont">Poststr. 105, 49477 Ibbenbüren, Germany</p>
            </a>
        </ul>
        <div class="feel-free">
            <p>
                Feel free to reach out to us through any of the above contact methods. We look forward to hearing from you and will do our best to respond promptly to your requests. Your satisfaction is our priority, and we're here to assist you every step of the way. Thank you for choosing Winpex Europe GmbH as your trusted partner.
            </p>
        </div>
    </div>
</div>
{{ end }}
