{{ define "main" }}
<div class="about-banner">
    <img class="about-banner-img" src="/images/about_banner.jpg" alt="">
    <div class="about-banner-desc">
        <h2>About Us</h2>
    </div>
</div>

<div class="about-content">
    <ul class="about-content-nav">
        <li class="active">Company Culture</li>
        <li>Our History</li>
        <li>Group Background</li>
    </ul>
    <div class="about-content-box show">
        <div class="container">
            <div class="heyme-culture">
                <h4>Company Profile</h4>
                <p>
                    Welcome to Winpex Europe GmbH, your trusted gateway to exceptional solutions in the European market. As a subsidiary of the illustrious Winpex Group, we are devoted to serving the European region with an unwavering commitment to tailored excellence. Our journey began in 2023, in response to the evolving demands of the market, operating under the vigilant guidance of the Winpex Group's headquarters in Ningbo, People's Republic of China.
                </p>
            </div>
            <div class="heyme-value">
                <div class="heyme-value-content">
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe752;</i>
                        </div>
                        <h4>Our Mission</h4>
                        <p>At Winpex Europe GmbH, we hold a clear mission: to serve the European customer with precision and care. We acknowledge the ever-shifting needs and preferences of European consumers and are dedicated to delivering products and services that not only meet but exceed their expectations.
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe60b;</i>
                        </div>
                        <h4>Market Expertise</h4>
                        <p>
                            With an in-depth understanding of the European market, we are resolute in catering to the specific requirements of our customers. Continuously monitoring market trends and consumer behavior, we adapt our strategies, offerings, and supply chain to ensure our offerings remain relevant and competitive.

                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe8a8;</i>
                        </div>
                        <h4>Direct Relationships</h4>
                        <p>
                            We believe in direct relationships. By eliminating intermediaries, we ensure effective communication, swift response times, and personalized solutions. Our aim is to enhance customer satisfaction through tailored experiences and efficient service delivery.
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe69b;</i>
                        </div>
                        <h4>Global Strength</h4>
                        <p>
                            As a subsidiary of the Winpex Group, we harness the extensive resources, industry knowledge, and global supply chain network of our parent company. This empowers us to offer competitive pricing, deliver superior products, and provide reliable and timely services to our valued European customers.

                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe613;</i>
                        </div>
                        <h4>Quality and Innovation</h4>
                        <p>
                            Quality and innovation are the cornerstones of our operations. We uphold the highest standards of excellence and invest continually in research and development to bring innovative solutions to the market. By prioritizing quality at every stage, we ensure our customers receive products that meet and exceed their expectations.

                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe611;</i>
                        </div>
                        <h4>A Legacy of Excellence</h4>
                        <p>
                            Winpex Europe GmbH is proud to be part of the esteemed Winpex Group's legacy of excellence. We are committed to serving the European market with integrity, professionalism, and a customer-centric approach. Through our dedication to understanding the unique needs of our customers, we aim to become a trusted partner in their success.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-content-box ">
        <div class="container">
            <div class="heyme-course">
                <h4>Company History</h4>
                <img
                    srcset="/images/about_history_m.jpg 2x"
                    src="/images/about_history.jpg"
                    style="width: 100%;"
                    alt=""
                >
                <h2 style="padding-top: 0.3rem">Winpex Europe GmbH: A Part of the Winpex Group Legacy</h2>
                <br/>
                <p>
                    Winpex opened for business in 2003, with a registered fund of 100 million RMB, and has grown into a dynamic and trusted supplier of high-quality products and services to customers worldwide. Over the years, our dedication to excellence and innovation has allowed us to expand our capabilities and offerings.            
                </p>
                <br/>
                <h2>Winpex Group's Journey</h2>
                <br/>
                <p>
                    In the past two decades, Winpex Group has continually evolved and expanded its presence in the global market. With the diligent efforts of our colleagues, our business has experienced constant and stable growth. Today, Winpex Group comprises 12 subsidiaries, 3 overseas offices, 3 solely owned factories, and a team of more than 800 dedicated staff members. We have achieved an annual sales volume in excess of US$370 million.
                </p>
                <br/>
                <p>
                    Our multifaceted approach allows us to serve as more than just a ""General Merchandise Supply Chain Management"" expert. We've diversified our commercial functions to include ""Self-support Export,"" ""Foreign Trade Development,"" ""Multi-Products Manufacturing,"" and ""Cross-border Electronic Commerce.""
                </p>
                <br/>
                <p>
                    Through the tireless work of our colleagues, we've rapidly expanded our product range to encompass over 70,000 products across 18 categories, from ""Household"" and ""Outdoor Solar Lights"" to ""Kitchen and Bathroom"" and ""Crafts and Gifts."" We've cultivated a supply chain of over 3,000 highly cooperative domestic manufacturers to provide quality products to our network of over 1,000 strategic customers. Our customer base now spans more than 60 countries, including the EU countries, UK, USA, Canada, Australia, Japan, Russia, and South America.
                </p>
                <br/>
                <p>
                    To meet the demands of our growing customer base, we've established two state-of-the-art factories focused on producing ""green"" products, such as solar-powered lights and eco-friendly household items.
                </p>
                <br/>
                <p>
                    Winpex has been widely praised for our commitment to environmental protection while expanding our business. We remain dedicated to becoming a leading supplier in the International Trading Business, providing the highest quality products and services to our global customers. Our aim is to continue growing and improving together with our valued customers through mutual support.
                
                </p>
                <br/>
                <h2>Winpex Europe GmbH's Contribution</h2>
                <br/>
                <p>
                    Winpex Europe GmbH, established in 2023, is a subsidiary of the Winpex Group, dedicated to serving the European market. We bring the legacy of excellence and expertise of the Winpex Group to Europe, focusing on tailored solutions and exceptional service. Our commitment to understanding the unique needs of European customers is at the core of our mission. We aim to become a trusted partner in the success of our European clients. Your trust and support have played a significant role in shaping the history and future of Winpex Europe GmbH."
                </p>
            </div>
        </div>
    </div>

    <div class="about-content-box">
        <div class="container">
            <div class="heyme-bg">
                <h4>Group Background</h4>
                <p>
                    In the past two decades, Winpex Group has continually evolved and expanded its presence in the global market. With the diligent efforts of our colleagues, our business has experienced constant and stable growth. Today, Winpex Group comprises 12 subsidiaries, 3 overseas offices, 3 solely owned factories, and a team of more than 800 dedicated staff members. We have achieved an annual sales volume in excess of US$370 million.
                </p>
                <p>
                    Our multifaceted approach allows us to serve as more than just a ""General Merchandise Supply Chain Management"" expert. We've diversified our commercial functions to include ""Self-support Export,"" ""Foreign Trade Development,"" ""Multi-Products Manufacturing,"" and ""Cross-border Electronic Commerce.""
                </p>
                <p>
                    Through the tireless work of our colleagues, we've rapidly expanded our product range to encompass over 70,000 products across 18 categories, from ""Household"" and ""Outdoor Solar Lights"" to ""Kitchen and Bathroom"" and ""Crafts and Gifts."" We've cultivated a supply chain of over 3,000 highly cooperative domestic manufacturers to provide quality products to our network of over 1,000 strategic customers. Our customer base now spans more than 60 countries, including the EU countries, UK, USA, Canada, Australia, Japan, Russia, and South America.
                </p>
                <p>
                    To meet the demands of our growing customer base, we've established two state-of-the-art factories focused on producing ""green"" products, such as solar-powered lights and eco-friendly household items.
                </p>
                <p>
                    Winpex has been widely praised for our commitment to environmental protection while expanding our business. We remain dedicated to becoming a leading supplier in the International Trading Business, providing the highest quality products and services to our global customers. Our aim is to continue growing and improving together with our valued customers through mutual support.
                    
                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}