<div class="join-content-box">
    <div class="container">
        <div class="school-coop">
            <h4>院校合作</h4>
            <p class="school-coop-desc">宁波黑米信息科技有限公司终积极探索并实践校企合作软件人才培养，不断深化产学合作育人，培养产业急需人才。
                <br>目前，宁波黑米信息科技有限公司累计与12所高校建立了稳定的人才培训和实训合作，
                <br>通过充分发挥校企双方的资源优势，建设集“学、研、训、产”四位一体的具有国内先进水平的人才培养基地。面向全国，培养信息化社会发展所
                <br>需要的人格健全、基础扎实、知识面宽、职业素质高、适应能力强、具有创新和创业精神的应用型优秀人才。
            </p>
            <ul>
                <li>
                    <img src="/images/school1.jpg" alt="">
                    <p>宁波大学</p>
                </li>
                <li>
                    <img src="/images/school2.jpg" alt="">
                    <p>上海财经大学浙江学院</p>
                </li>
                <li>
                    <img src="/images/school3.jpg" alt="">
                    <p>温州大学</p>
                </li>
                <li>
                    <img src="/images/school4.jpg" alt="">
                    <p>浙江工商大学</p>
                </li>
                <li>
                    <img src="/images/school5.jpg" alt="">
                    <p>皖西学院</p>
                </li>
                <li>
                    <img src="/images/school6.jpg" alt="">
                    <p>浙江大学宁波理工学院</p>
                </li>
                <li>
                    <img src="/images/school7.jpg" alt="">
                    <p>宁波工程学院</p>
                </li>
                <li>
                    <img src="/images/school8.jpg" alt="">
                    <p>浙江越秀外国语学院</p>
                </li>
                <li>
                    <img src="/images/school9.jpg" alt="">
                    <p>浙江海洋大学</p>
                </li>
                <li>
                    <img src="/images/school10.jpg" alt="">
                    <p>浙江农林大学</p>
                </li>
                <li>
                    <img src="/images/school11.jpg" alt="">
                    <p>浙江万里学院</p>
                </li>
                <li>
                    <img src="/images/school12.jpg" alt="">
                    <p>温州商学院</p>
                </li>
            </ul>
        </div>
    </div>
</div>