{{ define "main" }}
    <div class="container media-container">
      <div class="product-layout">
      <ul class="menu-item">
        <li class="link">Solar Pathway Lights</li>
        <li class="link">Solar String Lights</li>
        <li class="link">Solar Deck & Wall Lights</li>
        <li class="link">Solar Hanging Lights</li>
        <li class="link">Patio Heater</li>
        <li class="link">Toys</li>
      </ul>

      <div class="con-right">
          <div id="content-right">
            <h3></h3>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/solar_pathway_lights/index1.jpg" alt=""><p>Lantern Style Solar Pathway Lights (Set of 2)</p></li>
              <li  class="product-item"><img src="/images/solar_pathway_lights/index2.jpg" alt=""><p>Solar Pathway Lights with Stained Glass (Set of 3)</p></li>
              <li  class="product-item"><img src="/images/solar_pathway_lights/index3.jpg" alt=""><p>Solar Classic Design Pathway Lights (set of 4)</p></li>
              <li  class="product-item"><img src="/images/solar_pathway_lights/index4.jpg" alt=""><p>Solar Lantern PathwayHanging Lights (Set of 8)</p></li>
              <li  class="product-item"><img src="/images/solar_pathway_lights/index5.jpg" alt=""><p>Solar Mini Pathway Lights - Black Finish - Warm White (Set of 12)</p></li>
              <li  class="product-item"><img src="/images/solar_pathway_lights/index6.jpg" alt=""><p>Solar Pathway Light with Glass Shade - Warm White Light (Set of 6)</p></li>
              <li  class="product-item"><img src="/images/solar_pathway_lights/index7.jpg" alt=""><p>Solar Pathway Lights with Glass Shade (Set of 6)</p></li>
              <li  class="product-item"><img src="/images/solar_pathway_lights/index8.jpg" alt=""><p>Solar Small Size  Mini Pathway Lights - Black Finish - Cool White (Set of 12)</p></li>
              <li  class="product-item"><img src="/images/solar_pathway_lights/index9.jpg" alt=""><p>Stainless Steel Solar Pathway Lights with Glass Shade (Set of 8)</p></li>
            </ul>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/solar_string_lights/index1.jpg" alt=""><p>Halloween String Lights , 40 LED 15ft Purple Spider String Lights Battery Operated 8 Lighting Modes Halloween Lights</p></li>
              <li  class="product-item"><img src="/images/solar_string_lights/index2.jpg" alt=""><p>Pineapple String Light - Battery Powered (10-LED)</p></li>
              <li  class="product-item"><img src="/images/solar_string_lights/index3.jpg" alt=""><p>Solar Fairy String Lights - Warm White (Set of 2)</p></li>
              <li  class="product-item"><img src="/images/solar_string_lights/index4.jpg" alt=""><p>Solar Flower String Lights - Multi-Color (Set of 2)</p></li>
              <li  class="product-item"><img src="/images/solar_string_lights/index5.jpg" alt=""><p>Solar Rope Lights - Multi-Color (Set of 2)</p></li>
              <li  class="product-item"><img src="/images/solar_string_lights/index6.jpg" alt=""><p>Solar Rope Lights - Warm White Light (Set of 2)</p></li>
              <li  class="product-item"><img src="/images/solar_string_lights/index7.jpg"alt=""><p>SOWSUN Halloween Lights Outdoor 21 LED Halloween String Lights</p></li>
            
            </ul>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/solar_deck_wall_lights/index1.jpg" alt=""><p>Garden Solar Wall & Fence Lights (Set of 8)</p></li>
              <li  class="product-item"><img src="/images/solar_deck_wall_lights/index2.jpg" alt=""><p>Solar Deck and Wall Lights - Cool White Light (Set of 12)</p></li>
              <li  class="product-item"><img src="/images/solar_deck_wall_lights/index3.jpg" alt=""><p>Solar Deck Lights - Warm White Light (Set of 12)</p></li>
              <li  class="product-item"><img src="/images/solar_deck_wall_lights/index4.jpg" alt=""><p>Solar Garden Wall & Fence Lights (Set of 4)</p></li>
              <li  class="product-item"><img src="/images/solar_deck_wall_lights/index5.jpg" alt=""><p>Solar Landscape and Deck Lights - Cool White (Set of 12)</p></li>
              <li  class="product-item"><img src="/images/solar_deck_wall_lights/index6.jpg" alt=""><p>Solar Landscape and Deck Lights (Set of 8)</p></li>
              <li  class="product-item"><img src="/images/solar_deck_wall_lights/index7.jpg" alt=""><p>Solar Fence Lights with Carved Pattern- Warm White(Set of 8)</p></li>
              <li  class="product-item"><img src="/images/solar_deck_wall_lights/index8.jpg" alt=""><p>Solar Post Lights with 2 Size of Bases- Warm White(Set of 2)</p></li>
            </ul>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/solar_hanging_lights/index1.jpg" alt=""><p>Colorful Ball Shape Solar Hanging Lights (Set of 8)</p></li>
              <li  class="product-item"><img src="/images/solar_hanging_lights/index2.jpg" alt=""><p>Cool White Ball Shape Solar Hanging Lights (Set of 4)</p></li>
              <li  class="product-item"><img src="/images/solar_hanging_lights/index3.jpg" alt=""><p>Solar Hanging Lights (Set of 4)</p></li>
              <li  class="product-item"><img src="/images/solar_hanging_lights/index4.jpg" alt=""><p>Solar Lantern Pathway Hanging Lights (Set of 8)</p></li>
              <li  class="product-item"><img src="/images/solar_hanging_lights/index5.jpg" alt=""><p>Solar Mason Jar Hanging Lights (Set of 6)</p></li>
            </ul>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/patio_heater/index1.jpg" alt=""><p>1500W Wall-Mounted Indoor Outdoor Heater  Electric Patio Infrared Heater with Remote Control</p></li>
              <li  class="product-item"><img src="/images/patio_heater/index2.jpg" alt=""><p>Propane Patio Heater - Black</p></li>
              <li  class="product-item"><img src="/images/patio_heater/index3.jpg" alt=""><p>Propane Patio Heater - Stainless Steel</p></li>
              <li  class="product-item"><img src="/images/patio_heater/index4.jpg" alt=""><p>Pyramid Flame Propane Patio Heater - Black</p></li>
              <li  class="product-item"><img src="/images/patio_heater/index5.jpg" alt=""><p>Pyramid Flame Propane Patio Heater - Stainless Steel</p></li>
            </ul>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/toys/index1.jpg" alt=""><p>Cossy Magnetic Building Tiles 120 PCs Set</p></li>
              <li  class="product-item"><img src="/images/toys/index2.jpg" alt=""><p>Cossy Wooden Baby Learning Walker Toddler Toys</p></li>
              <li  class="product-item"><img src="/images/toys/index3.jpg" alt=""><p>Ropoda 3.5 Giant Wooden Yard Dice Set</p></li>
              <li  class="product-item"><img src="/images/toys/index4.jpg" alt=""><p>Ropoda 14 Inches 4-Way Shut The Box Dice Board Game (2-4 Players)</p></li>
              <li  class="product-item"><img src="/images/toys/index5.jpg" alt=""><p>Ropoda 90mm Bocce Ball Set with 8 Balls</p></li>
              <li  class="product-item"><img src="/images/toys/index6.jpg" alt=""><p>Ropoda Magnetic Chess Set, 15</p></li>
              <li  class="product-item"><img src="/images/toys/index7.jpg" alt=""><p>Ropoda Yard Pong - Giant Yard Games Set</p></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
{{ end }}
